.documents {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100vh;
}

.documents-navbar-toggle {
    top: 80px;
    z-index: 1;
    opacity: 90%;
    position: fixed;
    padding: 10px 0;
    border-radius: 0;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--bs-gray-500) 0px 0px 8px;
}

.documents-navbar-toggle:focus {
    box-shadow: var(--bs-gray-500) 0px 0px 8px;
}

.documents-tab-navbar {
    padding: 0;
}

.documents-tab-content::-webkit-scrollbar,
.documents-tab-navbar > .offcanvas > .offcanvas-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

.documents-tab-navbar > .offcanvas > .offcanvas-body {
    padding: 0;
}

.documents-tab {
    flex: auto;
    height: 100vh;
}

.documents-tab-content {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: var(--bs-light);
}

.documents-tab-content > .nav-pills .nav-link {
    text-align: start;
    color: var(--bs-dark);
    border: 1px solid transparent;
    border-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

.documents-tab-content > .nav-pills .nav-link.active {
    color: #0d6efd;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

.documents-tab-content > .nav-pills .nav-link:hover:not(.active) {
    background-color: #e5e5e5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.documents-tab-content > .nav :is(h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
    text-transform: uppercase;
    color: var(--bs-gray-500);
}

.documents-tab-dropdown.nav-link {
    padding: 0;
}

.documents-tab-dropdown > .documents-tab-dropdown-toggle {
    padding: .5rem 1rem;
}

.documents-tab-dropdown-toggle::after {
    float: right;
    content: "\F285";
    font-family: Bootstrap-Icons;
    transition: transform ease-in-out 0.1s;
}

.documents-tab-dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.documents-tab-link.nav-link {
    padding: 0;
}

.documents-tab-link > .documents-tab-link-toggle {
    padding: .5rem 1rem;
}

.documents-tab-link-toggle::after {
    float: right;
    content: "\F1C5";
    font-family: Bootstrap-Icons;
}

.documents-tab-collapse > .nav,
.documents-tab-collapse > .nav {
    border-left: 3px solid #e5e5e5;
}

.documents-tab-loading > span {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.documents-tab-loading > h4 > span {
    border-radius: 5px;
}

.documents-tab-footer {
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    background-color: var(--bs-gray-200);
    transform: translate(-50%, -50%);
}

.documents-content {
    height: 100vh;
}

.documents-content-data {
    height: 100vh;
    overflow-y: auto;
    padding-top: 20px;
}

.documents-content-data::-webkit-scrollbar {
    background-color: var(--bs-light);
}

.documents-content-data::-webkit-scrollbar-thumb {
    border: 3px solid var(--bs-light);
}

.documents-content-data-error {
    text-align: center;
}

.documents-content-data-error i {
    font-size: 50px;
    color: var(--bs-gray-500);
}

.documents-content-data-error small {
    color: var(--bs-gray-500);
}

.document-content-data-button button {
    border-radius: 10px;
}

.documents-content-data-docs :is(h1, h2, h3, h4, h5, h6):hover > .documents-content-data-docs-link {
    display: inline-block;
    color: var(--bs-dark);
}

.documents-content-data-docs-link {
    display: none;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
    color: var(--bs-dark);
}

.documents-content-data-docs img {
    border-radius: 10px;
}

.documents-content-data-docs > pre {
    padding: 15px;
    color: white;
    border-radius: 10px;
    word-break: normal;
    background-color: #222;
}

.documents-content-data-docs > pre > code {
    background-color: transparent;
}

.document-content-navigator {
    padding-top: 20px;
    padding-bottom: 20px;
}

.document-content-navigator .card {
    width: 100%;
    border-radius: 10px;
    transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.document-content-navigator .card:hover {
    opacity: 80%;
    background-color: var(--bs-gray-200);
}

.document-content-navigator .card > .card-body {
    width: 100%;
}

.documents-content-navigator-next {
    text-align: left;
}

.document-content-navigator .card > .card-body > i {
    font-size: 20px;
    align-self: center;
    vertical-align: middle;
}

.documents-content-navigator-previous {
    text-align: right;
}

.documents-content-loading span {
    border-radius: 5px;
}

.documents-content-loading span.col-4 {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .documents-tab-content {
        margin-top: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .documents-col-tab {
        padding-right: 0;
        border-right: 1px solid #e5e5e5;
    }

    .documents-col-content {
        padding-left: 0;
    }
}