@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --font-sans: Prompt, sans-serif;
  --font-serif: Prompt, serif;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  --animate-breathe: breathe 5s ease-in-out infinite;

  @keyframes breathe {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.01);
    }
  }
}

@utility btn {
  @apply rounded-xl;
}
