.home-welcome {
    height: 100vh;
}

.home-welcome-content {
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-welcome-content>img {
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px var(--bs-gray-400);
}

.home-welcome-btn-radius {
    border-radius: 10px;
}

.home-wave {
    position: relative;
}

.home-background {
    position: relative;
    background-image: linear-gradient(#80BDFF, #6387FF);
}

.home-features-header,
.home-commands-header,
.home-about-header {
    text-align: center;
}

.home-features-header>h2,
.home-commands-header>h2,
.home-about-header>h2,
.home-features-header>small,
.home-commands-header>small,
.home-about-header>small {
    color: var(--bs-pink);
}

.home-features-header>h2,
.home-commands-header>h2,
.home-about-header>h2 {
    text-shadow: white 0px 2px 0px;
}

.home-features-header>small,
.home-commands-header>small,
.home-about-header>small {
    text-shadow: white 0px 1px 0px;
}

.home-features-header>p,
.home-commands-header>p,
.home-about-header>p {
    color: var(--bs-gray-100);
}

.home-features-header>p>code,
.home-commands-header>p>code,
.home-about-header>p>code {
    color: black;
}

.home-features-circle {
    color: #6387FF;
    font-size: 20px;
    padding: 12px 17px;
    width: fit-content;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.home-features-info-content>h2 {
    color: white;
}

.home-features-info-content>p {
    color: var(--bs-gray-100);
}

.home-features-info-content>p>code {
    color: black;
}

.home-survey {
    text-align: center;
    background-color: lightblue;
}

.home-survey > .row > .col-md-3 > i {
    font-size: 50px;
}

.home-survey > .row > .col-md-3 > span {
    font-size: 30px;
}

.home-commands-table {
    border-radius: 10px;
}

.home-commands-table > table > :not(:first-child) {
    border-top: 3px solid var(--bs-gray-500);
}

.home-commands-table > table > thead,
.home-commands-table > table > tbody,
.home-commands-table > table > tbody > tr,
.home-commands-table > table > tbody > tr > th,
.home-commands-table > table > tbody > tr > td {
    border-style: none;
}

.home-commands-table > table > tbody > tr:last-child > th {
    border-bottom-left-radius: 10px;
}

.home-commands-table > table > tbody > tr:last-child > td {
    border-bottom-right-radius: 10px;
}

.home-about-content>.card {
    overflow: hidden;
    width: fit-content;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px var(--bs-gray-400);
}

.home-about-content>.card>img {
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.home-about-discord-tag {
    color: gainsboro;
}

.home-about-dev-social-media>a {
    color: black;
}

.home-about-dev-social-media>a:hover {
    color: black;
}

.home-invite {
    text-align: center;
    padding-bottom: 200px;
    background-color: lightblue;
}

.home-invite-btn-radius {
    border-radius: 10px;
}

.home-bubbles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-bubbles li {
    z-index: 1;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.home-bubbles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.home-bubbles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.home-bubbles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.home-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.home-bubbles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.home-bubbles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.home-bubbles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.home-bubbles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.home-bubbles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.home-bubbles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* animation style */

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10%;
    }

    100% {
        transform: translateY(-3200px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }
}