.main-modal {
    backdrop-filter: blur(3px);
    background-color: rgba(248, 249, 250, 0.1);
    -webkit-backdrop-filter: blur(3px);
}

.main-modal>.modal-dialog>.modal-content {
    padding: 5px 5px 10px 10px;
    border-radius: 20px;
}

.main-modal>.modal-dialog>.modal-content>.modal-header,
.main-modal>.modal-dialog>.modal-content>.modal-header>.btn-close {
    margin: 0;
}

.main-modal>.modal-dialog>.modal-content>.modal-header {
    border: 0;
}

.main-modal>.modal-dialog>.modal-content>.modal-header>.btn-close{
    padding: 10px;
    border-radius: 100px;
    background-color: gainsboro;
}

.main-modal>.modal-dialog>.modal-content>hr {
    margin: 0;
    width: 93%;
    align-self: center;
    border-radius: 100px;
    border: 2px solid gainsboro;
}