.commands {
    padding-bottom: 200px;
}

.commands button.btn,
.commands a.btn {
    border-radius: 15px;
}

.commands .placeholder {
    border-radius: 5px;
    margin-right: 2px;
}

.commands-header {
    position: relative;
}

.commands-header-object {
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 20%, rgba(148, 187, 233, 1) 80%);
}

.commands-header-circle {
    filter: blur(2px);
    position: absolute;
    border-radius: 100%;
}

.commands-header-circle:nth-child(1) {
    top: 50px;
    left: 50px;
    opacity: 80%;
    z-index: -1;
    width: 400px;
    height: 400px;
    background: rgb(174, 238, 210);
    background: radial-gradient(circle, rgba(174, 238, 210, 1) 0%, rgba(148, 187, 233, 1) 100%);
    animation: MoveUpDown 6s infinite alternate;
}

.commands-header-circle:nth-child(2) {
    top: 200px;
    left: 250px;
    z-index: -2;
    width: 300px;
    height: 300px;
    background: rgb(174, 186, 238);
    background: radial-gradient(circle, rgba(174, 186, 238, 1) 0%, rgba(213, 148, 233, 1) 100%);
    animation: MoveUpDown 3s infinite alternate;
}

.commands-header-content {
    color: white;
    padding-top: 200px;
    padding-bottom: 250px;
}

.commands-header-content h1 {
    color: var(--bs-dark);
    text-shadow: 3px 3px 0px whitesmoke;
}

.commands-header-content .col-md-6 {
    position: relative;
}

.commands-header-icon {
    left: 30%;
    position: absolute;
    padding: 10px 30px;
    border-radius: 20px;
    transform: translate(-50%, 0);
    background-color: var(--bs-dark);
    animation: MoveUpDown 5s infinite alternate;
}

.commands-header-icon i {
    color: white;
    font-size: 80px;
}

.commands-waves {
    position: relative;
}

.commands-body-header {
    text-align: center;
}

.commands-info {
    background-color: white;
}

.commands-info-icon {
    color: white;
    width: 80%;
    padding: 50px;
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: rgb(34, 193, 195);
    background: linear-gradient(130deg, rgba(34, 193, 195, 1) 20%, rgba(125, 45, 253, 1) 80%);
}

.commands-info-content {
    top: 50%;
    position: relative;
    text-align: center;
    transform: translateY(-50%);
}

.commands-body-search {
    border-radius: 20px;
}

.commands-body-search input {
    border-radius: 15px;
}

.commands-body-guide-note {
    border-radius: 20px;
}

.commands-body-accordion .accordion-item:first-of-type,
.commands-body-accordion .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.commands-body-accordion .accordion-item:last-of-type,
.commands-body-accordion .accordion-item:last-of-type .accordion-button {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.commands-body-accordion .card.text-bg-primary {
    background-color: rgba(237, 132, 178, 1) !important;
    border-radius: 20px;
    overflow: hidden;
}

.commands-body-not-found {
    border-radius: 20px;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .commands-header-circle:nth-child(1) {
        top: 90px;
        left: 0px;
        width: 300px;
        height: 300px;
    }

    .commands-header-circle:nth-child(2) {
        top: 210px;
        left: 170px;
        width: 200px;
        height: 200px;
        position: relative;
    }

    .commands-header-content .col-md-6:first-child {
        padding-bottom: 50%;
    }

    .commands-header-content .col-md-6:last-child {
        text-align: center;
    }
}